<div style="font-family: 'Metamorphous', cursive;">
  <h1>Groups <small>discover your flatiron groups</small></h1>
</div>

<div class="well">
  <%= link_to "New Group", new_group_path, class:"btn btn-success" %>
  <% if !@groups.empty? %>
    <hr>
  <% end %>
  <% @groups.each do |g| %>
    <div class="list-group">
      <h1><%= link_to "#{g.name}", group_path(g), class:"list-group-item" %></h1>
    </div>
  <% end %>
</div>
