<div style="font-family: 'Metamorphous', cursive;">
  <h1>Events, <small>discover your flatiron events</small></h1>
</div>

<div class="well">
  <%= link_to "New Event", new_event_path, class:"btn btn-success" %>
  <hr>
  <% @events.each do |e| %>
    <div class="list-group">
      <h1><%= link_to "#{e.name}", event_path(e), class:"list-group-item" %></h1>
        <p class="list-group-item-text"> <%= e.description %> </p>
      </a>
    </div>
  <% end %>
</div>
