<div class="page-headers">
  <h1>Edit Project: <%= @project.name %></h1>
</div>

<%= render 'form', project: @project do |f| %>
  <%= f.collection_select :user_ids, @other_students, :id, :name, {:include_blank => false}, {:multiple => true, class: "form-control"} %>
<% end %>
