<h1>Projects</h1>

<ul>

  <% @projects.each do |proj| %>

  <li><%= link_to proj.name, project_path(proj) %>  - <%= proj.members %></li>

  <% end %>

</ul>

<%= link_to "Create A New Project", new_project_path %>
