<h1>Projects</h1>

<% @cohorts.each do |coh| %>

<h2><%= coh.nickname %>  - <%= coh.start_date %></h2>


<ol>

  <% coh.projects.each do |proj| %>

  <li><%= link_to proj.name, project_path(proj) %></li>

  <% end %>

</ol>

<% end %>

<br>

<%= link_to "Create A New Project", new_projects_path %>
